<div>
  <a routerLink="/about" routerLinkActive="active">
      <button>ABOUT</button>
    </a>
</div>

<h1>
  {{name}} {{work}} works!
</h1>
<p>
  In {{info.company}} as {{info.designation}} in {{info.technology}} technology
</p>
<h4>Edit</h4>
<form>
  <p>
    <label for="name">Name:</label>
    <input type='text' [(ngModel)] = "name" name= 'name'>
  </p>
  <p>
    <label for="company">Company:</label>
    <input type='text' [(ngModel)] = "info.company" name= 'info.company'>
  </p>
  <p>
    <label for="technology">Technology:</label>
    <input type='text' [(ngModel)] = "info.technology" name= 'info.technology'>
  </p>
</form>

<h3>Posts </h3>
<div *ngFor="let post of posts">
  <h5>{{post.title | uppercase}}</h5>
  <p>{{post.body}}</p>
</div>
<button (click) = 'onClick()'>Start Work</button>
<h4>Other </h4>
<ul>
  <li *ngFor = "let other of others; let i = index">{{i}} -> {{other}}</li>
</ul>
